/* Little tweaks to make the AOC site easier on my eyes.
 * Credits:
 * https://gist.github.com/the1derer/c92e597301a280ff0ed48ffd9f998d52
 * https://gist.github.com/saidaspen/cbf216aa4be971a65b55426b884aee72
 * https://add0n.com/stylus.html
 */

:root {
    color-scheme: dark;
}
*, code {
    font-family: "JetBrains Mono", monospace;
    line-height: 1.3em;
}
body {
    background-color: #111318;
}
body, article, nav {
    min-width: auto;
    width: auto;
    max-width: 60em;
}
header {
    white-space: unset;
}
body * {
    text-shadow: none !important;
}
article em  {
    font-weight: bold;
    color: #22ff68;
}
#sidebar, .user {
    display: none !important;
}
a {
    color: #ffff66;
}
code {
    letter-spacing: 1px;
    color: #ff6e6e;
    font-weight: bold;
}
code::before {
    background: none;
}
